<!-- #django template language -->
{% extends 'calc/base.html' %}

{% block content %}
<h2>Hello, {{name}}!</h2>

<form action="add" method="POST">
    {% csrf_token %}
    Enter 1st number: <input type="text" name="num1"><br>
    Enter 2nd number: <input type="text" name="num2"><br>
    <input type="submit" value="Add">
</form>
{% endblock %}



